@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

/* global styles*/
a{
  color : inherit!important;
  text-decoration : none!important;
}
a:hover{
  color : inherit;
  text-decoration : none;
}

.animate{
      -webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;
}

img{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* global placing */
body{
  width : 100%;
  height : 100%;
  overflow : hidden;
  position : absolute;
  left: 0;
  top: 0;
  font-family : "Roboto Slab", "sans-serif";
}
header{
  position : absolute;
  top : 0;
  left : 0;
  width : 100%;
  height : 11%;
  overflow:hidden;
  z-index:5;
  min-height : 60px;
}
footer{
  position : absolute;
  bottom : 0;
  left : 0;
  width : 100%;
  height : 3%;
  overflow:hidden;
  padding-left : 2em;
  padding-bottom : 2em;
  opacity : 0.5;
  font-size : 0.7em;
  font-style : italic;
}
.middle-container{
  position : absolute;
  left : 0;
  width : 100%;
  height : 92%;
  top : 6%;
  overflow:hidden;
}

.content-container{
  position : absolute;
  left : 0;
  top : 6%;
  width : 100%;
  height : 92%;
  overflow:hidden;
}

.view-container{
  height : 100%;
  overflow-x : auto;
  overflow-y : hidden;
  padding : 0;
}

.up,.down{
  position : absolute;
  right : 2em;
  color : #BE1621;
  z-index:1001;
}

.up{
  top : 2em;
}

.down{
  bottom : 2em;
}

/* menu*/
.menu{
  position : absolute;
  left : 0;
  height : 92%;
  top : 6%;
  overflow:hidden;
  z-index:2;
  padding : 0;
  pointer-events: none;
}

.menu-cache{
  height : 90%;
  position : absolute;
  cursor : pointer;
  top : 8%;
}
.menu-cache-active{
  z-index : 1000;
}

.menu-group-bottom{
  position : absolute;
  bottom : 1%;
  left : 0;
}

.menu ul{
  padding: 0;
  margin: 0;
}


.menu li{
  list-style-type : none;
  margin-bottom : 5px;
}

.menu-item{
  height : 4%;
  opacity : 0.6;
  pointer-events : all;
}

.menu-item.active{
  font-weight : 800;
  opacity : 1;
}

.menu-item:hover{
  opacity : 1;
}

.menu-item img{
  width : 2em;
  display : inline;
  vertical-align: middle;
  margin-top: -8%;
}

.menu-item h3{
  display : inline;
  font-size:1em;
  vertical-align: middle;
}
.menu-item h4{
  font-size : 0.9em;
  padding: 0;
  margin: 0;
}

.menu a:hover{
  text-decoration : none;
  color : inherit;
}

.submenu{
  margin-left:2.2em!important;
  margin-top : 5px;
}

.closed{
  height : 0;
  overflow:hidden;
}

/* NAV */
nav h1{
  font-size : 1.2em;
}

nav .partie{
  font-style : italic;
  font-size : 1em;
  opacity : 0.7;
}


/* Header*/

header h1{
  position : absolute;
  left : 1.7em;
  top : 0;
  font-size : 1.4em;
  color : #BE1621;
  margin : 0;
  padding : 0;
  padding-top : 0.7em;
}

header h3{
  position : absolute;
  right : 0;
  top : 0;
  font-size : 0.8em;
  font-style : italic;
  color : #928C89;
  margin : 0;
  padding : 0;
}


/* PAGE */
.page-wrapper{
  width : 10000px;
  height : 100%;
}

.page-wrapper .block-text{
  display : inline-block;
  float : left;
  -webkit-columns: 220px;
  -moz-columns: 220px;
  columns: 220px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
  height : 100%;
  width : 620px;
  margin-right : 20px;
  font-size : 0.9em;
}

.page-wrapper img{
  display : inline-block;
  height : 100%;
  float : left;
  margin-right:10px;
}

.page-wrapper .objet{
  height : 100%;
  display:inline-block;
  float:left;
  margin-right : 10px;
}

.page-wrapper object, .page-wrapper embed{
  /*width : 200%;*/
  height : 100%;
}

/* page développement */
.section-title{
  background : #BE1621;
  color : white;
  height : 100%;
  width : 140px;
  margin-right:10px;
  padding-left : 15px;
  padding-right : 15px;
  text-align : center;
  padding: 0;
  margin: 0;
  display:inline-block;
  float : left;
  margin-left : 10px;
}

.section-title h2{
  position : relative;
  top : 45%;
  color : white;
  padding: 0;
  margin: 0;
}


/*scroll-bar
 * 
 * 
 */

 ::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-button {
  background-color : #BE1621;
}

::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  border-right : 2px solid rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color : #BE1621;
}

/*
INTRO
*/
.intro-container{
  background : rgba(0,0,0,0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index:1003;
  cursor : pointer;
}

.intro-wrapper{
  position: absolute;
  width: 50%;
  height: 50%;
  top:25%;
  left:25%;
}


