<div class="block-text">
<p>
	Je m’appelle Robin De Mourat et je suis designer de format et en préparation d'une thèse portant sur les pratiques de publication dans le milieu universitaire, sous la direction de Nicolas Thély. Ce site est dédié au partage de mon projet de diplôme, « Garder le fil », réalisé lors de mon Diplôme Supérieur d’Arts Appliqués à l’école Boulle (Paris) en Juin 2011.
</p>
<p>
	Le projet a été réalisé sous la direction de Vincent Rossin et de Vaïana Lecoustumer, et avec l'assistance indispensable de <a href="http://cargocollective.com/paulinelm/">Pauline Laufmöller-Marlier</a>.
</p>
<p>
	Bonne lecture!
</p>
</div>
				
				
<div class="objet">
<object width="200%" height="100%" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
	<param name="allowfullscreen" value="true" />
	<param name="allowscriptaccess" value="always" />
	<param name="src" value="http://vimeo.com/moogaloop.swf?clip_id=36607284&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" />
	<embed width="200%" height="100%" type="application/x-shockwave-flash" src="http://vimeo.com/moogaloop.swf?clip_id=36607284&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" allowfullscreen="true" allowscriptaccess="always" />
</object>
</div>
