<img src="images/couv-04.png"/>

<div class="block-text">
	<p>
		Aller-retour entre navigation, lecture et annotation, la lecture d’étude à l’ère numérique nécessite d’inventer de nouveaux dispositifs pour permettre de mieux relier ces différents aspects de la lecture.
	</p>

	<p>
		La carte de lecture se présente comme une hypothèse de réponse à cet enjeu. Visible continuellement sur l’écran inférieur de la liseuse, elle permet à l’utilisateur de visualiser toutes les annotations réalisées sur un sujet d’étude donné, et de les « relier » entre eux selon des relations de similitude, de causalité ou de hiérarchie.
	</p>

	<p>
		Ainsi, alors qu’il effectue son parcours de lecture, l’utilisateur visualise en temps réel « l’image de pensée » et la modèle lui-même selon cette logique spatiale et manipulatoire. Outre cette fonction de travail, la carte de lecture est aussi un outil de sourçage du travail en cours, puisqu’elle permet de revenir à tout moment à la source d’une annotation donnée.
	</p>
</div>

<img src="images/representations.png"/>

<div class="objet">
	<object width="200%" height="100%" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
		<param name="allowfullscreen" value="true" />
		<param name="allowscriptaccess" value="always" />
		<param name="src" value="http://vimeo.com/moogaloop.swf?clip_id=36422295&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" />
		<embed width="200%" height="100%" type="application/x-shockwave-flash" src="http://vimeo.com/moogaloop.swf?clip_id=36422295&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" allowfullscreen="true" allowscriptaccess="always" />
	</object>
</div>