<img src="images/couv-01.png"/>

<div class="block-text">
	<p>
		Le premier temps de « garder le fil » concerne la navigation sur Internet. Il s’agit de permettre une navigation plus sensée à travers une spatialisation du parcours de lecture sur Internet. L’application permet à l’utilisateur de visualiser sa navigation sous la forme d’un graphique permettant de retracer la généalogie de la page sur laquelle il se trouve.
	</p>
	<p>
		Ainsi, après plusieurs heures de navigation, il garde une image claire des raisons et de la progression de sa navigation, et peut non seulement retrouver plus facilement le fil d’une piste intéressante, mais également avoir des éléments « d’auto-analyse » enrichissants pour sa recherche.
	</p>
</div>


<img src="images/representations.png"/>

<div class="objet">
	<object width="200%" height="100%" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
		<param name="allowfullscreen" value="true" />
		<param name="allowscriptaccess" value="always" />
		<param name="src" value="http://vimeo.com/moogaloop.swf?clip_id=36422289&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" />
		<embed width="200%" height="100%" type="application/x-shockwave-flash" src="http://vimeo.com/moogaloop.swf?clip_id=36422289&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" allowfullscreen="true" allowscriptaccess="always" />
	</object>
</div>