<img src="images/couv-05.png"/>

<div class="block-text">
	<p>
		La lecture d’étude ne peut être dissociée de l’écriture. Celle-ci nécessite d’être étroitement liée aux activités d’annotation, afin d’éviter un usage abusif et maladroit du « copier-coller » ainsi qu’une trop grande division entre les deux activités chez les nouveaux penseurs numériques.
	</p>

	<p>
		L’application propose donc une interface d’écriture accessible continuellement à l’utilisateur pendant sa recherche.
	</p>

	<p>
		Par la logique de glisser-déposer déjà utilisée pour la carte de lecture, l’utilisateur peut agrémenter la marge de son texte des annotations qu’il a réalisées, et également sourcer facilement son texte en insérant des références dans son texte de manière simple et cohérente avec la logique de « tissage » de toute l’application.
	</p>

</div>

<img src="images/representations.png"/>


<div class="objet">
	<object width="200%" height="100%" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
		<param name="allowfullscreen" value="true" />
		<param name="allowscriptaccess" value="always" />
		<param name="src" value="http://vimeo.com/moogaloop.swf?clip_id=36422297&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" />
		<embed width="200%" height="100%" type="application/x-shockwave-flash" src="http://vimeo.com/moogaloop.swf?clip_id=36422297&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" allowfullscreen="true" allowscriptaccess="always" />
	</object>
</div>