<img src="images/couv-03.png"/>

<div class="block-text">
	<p>
		La lecture d’étude n’est rien sans annotation. Hors celle-ci est très difficile sur Internet. L’application permet donc de directement annoter une page Internet. En sélectionnant une portion de texte, l’utilisateur peut rajouter un commentaire directement sur la page qu’il est en train de lire, ou juste retenir un passage important. Il pourra ensuite alterner entre plusieurs modes de visualisation d’une page internet, en laissant au choix plus de place aux annotations ou au texte original.
	</p>
</div>
<img src="images/representations.png"/>

<div class="objet">
	<object width="200%" height="100%" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
		<param name="allowfullscreen" value="true" />
		<param name="allowscriptaccess" value="always" />
		<param name="src" value="http://vimeo.com/moogaloop.swf?clip_id=36422291&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" />
		<embed width="200%" height="100%" type="application/x-shockwave-flash" src="http://vimeo.com/moogaloop.swf?clip_id=36422291&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" allowfullscreen="true" allowscriptaccess="always" />
	</object>
</div>