<img src="images/couv-02.png"/>

<div class="block-text">
	<p>
		La deuxième facette de la lecture d’étude concerne la lecture approfondie des textes. C’est peu dire que d’avancer que le format et les supports des pages Internet se prêtent difficilement à une lecture longue et soutenue.
	</p>

	<p>
		Alors, quand l’utilisateur bascule sa liseuse en position verticale, l’habillage graphique et les publicités de la page web qu’il est en train de lire s’effacent, pour ne laisser que le texte. 
	</p>
	<p>
		La page se divise en plusieurs espaces juxtaposées, dans lesquels on navigue par translation. </p>

		<p>
			Ce nouveau schéma d‘organisation spatiale du texte, entre feuillets physiques et « logique de l’ascenseur » sur Internet, permet de mieux se repérer et réfléchir au contact de pages internet à long contenu.
		</p>	
	</div>


	<img src="images/representations.png"/>


	<div class="objet">
		<object width="200%" height="100%" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
			<param name="allowfullscreen" value="true" />
			<param name="allowscriptaccess" value="always" />
			<param name="src" value="http://vimeo.com/moogaloop.swf?clip_id=36422290&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" />
			<embed width="200%" height="100%" type="application/x-shockwave-flash" src="http://vimeo.com/moogaloop.swf?clip_id=36422290&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" allowfullscreen="true" allowscriptaccess="always" />
		</object>
	</div>