<img src="images/couv-06.png"/>

<div class="block-text">
	<p>
		« Garder le fil » se présente à la fois comme une tablette spécialisée, une application multi-support et un service en ligne.
	</p>

	<p>
		Sur ce dernier, les lecteurs peuvent partager les cartes de lecture qu’ils ont réalisées avec l’application.
	</p>

	<p>
		Fiches de lecture, cours documentés, thèmes d’actualité : les usages possibles des cartes de lecture sont nombreux, et se prêteraient facilement à des pratiques sociales voire collaboratives.
	</p>

	<p>
		Ainsi, la carte de lecture devient un document à part entière, exploitant pleinement le potentiel de l’hypertexte, à mi-chemin entre la carte mentale, la « bibliographie », et le document écrit traditionnel.
	</p>
</div>

<img src="images/representations.png"/>


<div class="objet">
	<object width="200%" height="100%" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
		<param name="allowfullscreen" value="true" />
		<param name="allowscriptaccess" value="always" />
		<param name="src" value="http://vimeo.com/moogaloop.swf?clip_id=36424477&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" />
		<embed width="200%" height="100%" type="application/x-shockwave-flash" src="http://vimeo.com/moogaloop.swf?clip_id=36424477&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" allowfullscreen="true" allowscriptaccess="always" />
	</object>
</div>