<div class="block-text">
	<p>
		Et si le design pouvait s’appliquer à l’acte même de penser ?
	</p>
	<p>
		Face à la révolution sociale, culturelle et intellectuelle opérée par les technologies numériques, j’ai décidé de consacrer mon projet de diplôme à la vaste question des mutations cognitives entraînées par Internet dans le domaine de l’éducation, de la recherche et plus globalement des pratiques dites « savantes ».
	</p>
	<p> 
		Après une courte incursion du côté des écoles et de la mutation de l’attention chez les natifs digitaux, je me suis consacré à une activité profondément en mutation depuis l’avènement d’Internet : la lecture.
	</p>
	<p>
		Les pratiques de lecture sur Internet sont fortement critiquées : on accuse les nouveaux lecteurs de superficialité et d’indigence méthodologique, on se plaint dans les classes du fléau du « copier-coller » et de l’impossibilité des nouvelles
		générations à se concentrer longuement face à un texte.
	</p>
	<p> 
		J’ai décidé de vérifier moi-même ces assertions en allant observer de jeunes gens travailler entre machines et papiers, et en examinant ce qu’était la lecture d’étude sur un registre philosophique.
	</p>
</div>
<div class="block-text">
	<p> 
		« Garder le fil » tente de résoudre certains des problèmes qu’on attribue au médium numérique dans le cadre de la lecture (égarement attentionnel, difficultés à annoter, inconfort des pages web, …). Mais il consiste surtout à redonner toute son importance au lien mental et méthodologique qui doit s’opérer entre les différents temps de lecture, et qui était plus évident à réaliser auparavant qu’aujourd’hui. Du fait de l’éparpillement des outils et de leur logique techniciste, les environnements numériques existants opèrent un cloisonnement entre outils de recherche, de lecture et d’écriture. Le besoin principal
		des environnements de lecture d’étude m’a donc semblé être de relier les différentes activités de la lecture et ainsi de permettre à un lecteur de « garder le fil » de sa réflexion à travers la diversité de sources, de formats et d’activités à laquelle il est confronté.
	</p>
	<p> 
		J’ai enfin tenté à travers ce projet d’esquisser les outils qui permettraient concrètement de développer de nouvelles manières de lire, donc d’écrire, et de penser. C’est une certaine pratique associative et fortement interactive de la lecture que j’essaie de valoriser à travers mon projet.
	</p>
</div>


<div class="objet">
	<object width="200%" height="100%" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
		<param name="allowfullscreen" value="true" />
		<param name="allowscriptaccess" value="always" />
		<param name="src" value="http://vimeo.com/moogaloop.swf?clip_id=36615213&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" />
		<embed width="200%" height="100%" type="application/x-shockwave-flash" src="http://vimeo.com/moogaloop.swf?clip_id=36615213&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" allowfullscreen="true" allowscriptaccess="always" />
	</object>
</div>