<div class="block-text">
	<p>
		La lecture d’étude, terme emprunté à Alain Giffard, désigne l’activité complexe de réflexion au contact de documents.
	</p>
	<p> 
		Avec l’arrivée d’Internet et du concept d’hypertexte, celle-ci se voit transformée, accélérée mais aussi menacée par des pratiques parfois trop « superficielles ».
	</p>
	<p>
		Pour accéder à une analyse approfondie des pratiques de lecture d’étude et des modes de lecture qu’elles impliquent, voir <a href="memoires.html">le mémoire</a>.
	</p>
</div>
<img src="images/lecture-01.png"/>
<img src="images/lecture-02.png"/>
<img src="images/lecture-03.png"/>