<img src="images/intro-2.png" title="Garder le fil" alt="garder le fil - introduction"/>
<img src="images/intro-3.png" title="Garder le fil" alt="garder le fil - introduction"/>
<img src="images/intro-4.png" title="Garder le fil" alt="garder le fil - introduction"/>
<img src="images/intro-5.png" title="Garder le fil" alt="garder le fil - introduction"/>

<div class="block-text">
	<p>Et si l'on pouvait donner à voir la beauté d&#8217;une pensée en train de se faire au contact d'Internet?
	</p>
	<p>
		<strong>
			Garder le fil est un carnet de propositions sur la lecture d&#8217;étude à l&#8217;ère numérique, finalisé en Juin 2011.
		</strong>
	</p>
	<p>
		Le projet se fonde sur le postulat qu&#8217;il serait intéressant, à travers une application et un dispositif numérique dédiés aux activités d&#8217;étude, d&#8217;articuler plus étroitement navigation, annotation, organisation, et écriture de texte.
	</p>
	<p>
		Le pari du projet était avant tout de permettre un aller-retour constant entre ces différentes pratiques et une appropriation maximale des textes trouvés sur Internet, grâce à une place prépondérante laissée à l’annotation.
	</p>
	<p>
		L&#8217;objectif était également d&#8217;explorer de nouvelles formes de documents et de lecture mieux adaptés à la réflexion appareillée par Internet, et m&#8217;a conduit à esquisser la forme d&#8217;un nouveau type de document numérique : la carte de lecture.
	</p>
	<div class="block-text">
		<p>
			Ce site présente le projet de manière quasi exhaustive et fourmille de références, de pistes de recherche, de propositions. C&#8217;est un carnet de proposition &laquo;&nbsp;à coeur ouvert&nbsp;&raquo; plus qu&#8217;une présentation synthétique.
		</p>
		<p>
			Si vous êtes une personne pressée, passez directement à la page <a title="résumé" href="http://garderlefil.robindemourat.com/?page_id=130">Résumé</a>.
		</p>
		<p>
			Sinon, je vous invite à vous laisser dériver dans les différentes sections et vidéos du site, et ne pas hésiter à me contacter si ce projet vous a inspiré une quelconque réaction : robindemourat@gmail.com
		</p>
	</div>
</div>