<div class="objet">
	<object width="800px" height="100%" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowfullscreen" value="true" />
		<param name="menu" value="false" />
		<param name="src" value="http://static.issuu.com/webembed/viewers/style1/v1/IssuuViewer.swf" />
		<param name="flashvars" value="mode=embed&amp;layout=http%3A%2F%2Fskin.issuu.com%2Fv%2Flight%2Flayout.xml&amp;showFlipBtn=true&amp;documentId=110215133233-1365a9fb7638448f9a7d70659bbccc38&amp;docName=boulle_m_moire_2011_de_mourat_robin_d_marche&amp;username=lic_th38&amp;loadingInfoText=garder%20le%20fil&amp;et=1308077621166&amp;er=92" />
		<embed width="800px" height="100%" type="application/x-shockwave-flash" src="http://static.issuu.com/webembed/viewers/style1/v1/IssuuViewer.swf" allowfullscreen="true" menu="false" flashvars="mode=embed&amp;layout=http%3A%2F%2Fskin.issuu.com%2Fv%2Flight%2Flayout.xml&amp;showFlipBtn=true&amp;documentId=110215133233-1365a9fb7638448f9a7d70659bbccc38&amp;docName=boulle_m_moire_2011_de_mourat_robin_d_marche&amp;username=lic_th38&amp;loadingInfoText=garder%20le%20fil&amp;et=1308077621166&amp;er=92" />
	</object>
</div>

<div class="objet">
	<object width="800px" height="100%">
		<param name="movie" value="http://static.issuu.com/webembed/viewers/style1/v1/IssuuViewer.swf?mode=embed&amp;layout=http%3A%2F%2Fskin.issuu.com%2Fv%2Flight%2Flayout.xml&amp;showFlipBtn=true&amp;documentId=110704124231-8d42b50e8de84f79adc52f1ad2768a38&amp;docName=attention&amp;username=lic_th38&amp;loadingInfoText=attention%20-%20m%C3%A9moire%20de%20philosophie&amp;et=1309783825455&amp;er=25" /><param name="allowfullscreen" value="true" />
		<param name="menu" value="false" />
		<embed width="800px" height="100%" type="application/x-shockwave-flash" src="http://static.issuu.com/webembed/viewers/style1/v1/IssuuViewer.swf" allowfullscreen="true" menu="false" flashvars="mode=embed&amp;layout=http%3A%2F%2Fskin.issuu.com%2Fv%2Flight%2Flayout.xml&amp;showFlipBtn=true&amp;documentId=110704124231-8d42b50e8de84f79adc52f1ad2768a38&amp;docName=attention&amp;username=lic_th38&amp;loadingInfoText=attention%20-%20m%C3%A9moire%20de%20philosophie&amp;et=1309783825455&amp;er=25"></embed>
	</object>
</div>