<div class="block-text">
	<p>
		Fort de l’étude anthropologique réalisée auprès des étudiants, et avec le soutien de professeurs-documentalistes et de lectures sur la lecture, Garder le fil se fonde sur le constat de problèmes ponctuels pour chacun des temps de la lecture d’étude.
	</p>
</div>

<img src="images/positionnement-01.png"/>

<div class="block-text">
	<p>
		Mais, au-delà de ces problèmes ponctuels, mon observation et mon impression générales ont révélé que c’étaient surtout ruptures attentionnelles et méthodologique entre pratiques/outils de recherche, de lecture et d’écriture qui posaient problème.
	</p>
	<p>
		L’enjeu principal de « garder le fil » est donc de proposer une interface permettant de relier les différents temps de la lecture d’étude, en allant et venant de manière suivie et cohérente entre recherche, lecture soutenue, annotation, prise de vue d’ensemble, et écriture.
	</p>
</div>

<img src="images/positionnement-02.png"/>

<div class="block-text">
	<p>
		Enfin, derrière un apparent analphabétisme numérique et méthodologique, les étudiants que j’ai observés développaient à tâtons de nouvelles pratiques pour lire et pour écrire.
	</p>
	<p>
		Dans le temps de la lecture, j’ai été frappé de leur capacité à mettre en relation plusieurs documents très différents et les assembler de manière créative, tandis qu’au moment de l’écriture, les pratiques de copier-coller sont bien plus complexes qu’il n’y paraît car elles sont rarement brutales et insensées : en observant les gens en train d’écrire, on se rend compte qu’ils affinent, recomposent, retravaillent, leur matériau brut textuel tiré d’Internet, selon une logique qui pourrait s’apparenter à la sculpture ou à la couture plutôt qu’à la traditionnelle métaphore de la « construction du texte ».
	</p>
	<p>
		Ces nouvelles pratiques pourraient avoir leur légitimité si elles s’accompagnaient d’un meilleur travail de référencement.
	</p>
</div>

<img src="images/positionnement-03.png" />
