<img src="images/garderlefil-resume (1).jpg"/>
<img src="images/garderlefil-resume (2).jpg"/>
<img src="images/garderlefil-resume (3).jpg"/>
<img src="images/garderlefil-resume (4).jpg"/>
<img src="images/garderlefil-resume (5).jpg"/>
<img src="images/garderlefil-resume (6).jpg"/>


<div class="objet">
	<object width="200%" height="100%" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
		<param name="allowfullscreen" value="true" />
		<param name="allowscriptaccess" value="always" />
		<param name="src" value="http://vimeo.com/moogaloop.swf?clip_id=26279849&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" />
		<embed width="200%" height="100%" type="application/x-shockwave-flash" src="http://vimeo.com/moogaloop.swf?clip_id=26279849&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" allowfullscreen="true" allowscriptaccess="always" />
	</object>
</div>

