<div class="block-text">
	<p>
		J’ai rencontré plusieurs étudiants et élèves de terminale pour observer la manière dont ils travaillaient avec Internet. Outre des entretiens, certains ont accepté d’enregistrer ce qui se passait sur leur ordinateur pendant leurs séances de lecture d’étude et de travail.
	</p>
</div>

<img src="images/anthropologie-01.png" />

<div class="block-text">
	<p>
		Les constats de cette première observation ont été surprenants : alors qu’ils utilisaient l’environnement numérique avec aisance, les personnes que j’ai observé se plaignaient beaucoup de leur usage d’Internet et faisaient preuve d’une grande difficulté à lire et travailler avec leur ordinateur. Ils se livraient à différents détours par le papier aux moments clés de la lecture d’étude pour pouvoir travailler efficacement.
	</p>
</div>

<img src="images/anthropologie-02.png"/>

<div class="objet">
	<object width="200%" height="100%" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
		<param name="allowfullscreen" value="true" />
		<param name="allowscriptaccess" value="always" />
		<param name="src" value="http://vimeo.com/moogaloop.swf?clip_id=36615567&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" />
		<embed width="200%" height="100%" type="application/x-shockwave-flash" src="http://vimeo.com/moogaloop.swf?clip_id=36615567&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" allowfullscreen="true" allowscriptaccess="always" />
	</object>
</div>