<div class="block-text">
	<p>
		Garder le fil est le projet d’une solution centralisatrice qui articulerait autour d’elle les différentes pratiques mises en oeuvre par la lecture d’étude.

	</p>

	<p>
		Le projet se constitue d’une application, d’un objet (une liseuse d’étude) et d’un service internet. La présentation se concentre sur l’application, car l’objet (une double tablette) que je propose devrait prochainement voir arriver sur le marché des cousins très proches si des usages (tels que ceux que je propose) le justifient.
	</p>

	<p>
		Quant au service, qui concerne plutôt les pratiques sociales de la lecture, il est introduit rapidement au chapitre 6 comme un champs de possibles qui s’ouvrirait après une véritable modification des pratiques de lecture individuelle.
	</p>

	<p>
		Bonne lecture!
	</p>
</div>

<img src="images/presentation-01.jpg" />
<img src="images/couvertures-01.png" />
<img src="images/couvertures-02.png" />
<img src="images/couvertures-03.png" />
<img src="images/couvertures-04.png" />
<img src="images/couvertures-05.png" />
<img src="images/couvertures-06.png" />